<div>
  <p>
    Olá,  {{ meetup_owner }}.<br />
    O {{ user_name }} acabou de se inscrever para seu Meetup: {{ meetup_name }}.<br />
    <strong>O encontro acontecerá {{ meetup_date }}.</strong><br />
  </p>
</div>